*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}
body{
    background: #928cff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 30px;

}
.inputs{
    background: #FFF;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
h2{
    font-size: 32px;
    text-align: center;

}
.data{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;

}
.data input{
    padding: 4px;
    outline: none;
    border: 1px solid #928cff;

}
.data button{
    background: #928cff;
    color: #FFF;
    border: none;
    padding: 5px;
    cursor: pointer;
}
.list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    
}
.box{
    background: #FFF;
    border-radius: 10px;
    padding: 10px;
    width: 200px;

}
.item{
    background-color: #928cff;
    padding: 10px;
    margin: 4px;
    cursor: move;
    color: #FFF;
    border-radius: 8px;



}